.sP{
    width: 250px;
    margin-left: 20px;
}
.name{
    font-size: 21px;
    margin-bottom: 30px;
}
.gadjets{
    margin-left: 20px;
}
.tech{
    margin-left: 20px;
}
.other{
    margin-left: 20px;
}
